.about-us {
    font-family: 'Oswald';
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    background-color: #0165E1;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.about {
    font-family: 'Oswald';
    font-size: 100px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    font-weight: 600px;
}

.contact {
    font-family: 'Oswald';
    font-size: 100px;
    color: #0165E1;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    font-weight: 600px;
}

.social-media {
    font-size: 100px
}

.contact-us {
    font-family: 'Oswald';
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: 600;

}
.fa-heart {
    color: red;
    margin-right: 5px;
    margin-left: 5px;
   
}

.fa-envelope {
    color: #0165E1;
    margin-right: 5px;
}

.fa-phone {
    color: goldenrod;
    margin-right: 5px;
}

.fa-map-pin {
    color: red;
    margin-right: 5px;
}

.fa-facebook {
    color: #43609c;
}

.fa-instagram {
    color: #833ab4;
}

.fa-tiktok {
    color: #FE2C55
}

.fa-twitter:hover {
    color: black;
}

.footer {
    display: flex;
    font-family: 'Oswald';
    font-size: 15px;
    color: black;
   justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: lightgray;
    width: 100%;
    line-height: 3px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 607px) {
    .about-us {
        font-size: 20px;
        margin-top: 1500px
    }
    .about {
        font-size: 20px;
    }
    .contact {
        font-size: 50px;
    }
    .contact-us {
        font-size: 18px;
    }

    .social-media {
        font-size: 50px;
    }

    .footer {
        display: flex;
        font-size: 12px;
        background-color: lightgray;
        border: none;
        border-radius: 0px;
        width: 100%;
    }
}