.selections {
    position: relative;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: lightgrey;
    width: 35%;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
}

.category {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.category li {
    margin-right: 20px;
    font-size: 25px;
    font-family: 'Oswald';
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover {
    color: #0165E1;
}

.category-select {
    display: none;
}


/* Small devices (phones) */
@media only screen and (max-width: 667px) {
    .selections {
        width: 80%;
    }

    .category {
        display: none !important;
        font-size: 30px;
    }

    .category-select {
        display: flex;
        position: absolute;
        top: 83px;
        left: 72px;  
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: 'Oswald';
        border-radius: 25px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        border: none;
        padding: 5px;
    }

    h1 {
        font-size: 60px !important;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 400px) and (max-width: 896px) {
    .category-select {
        left: 90px;
    }
}


/* Target iPhone 12 Pro (390px x 844px) */
@media only screen and (width: 390px) and (height: 844px) {
    .category-select {
        left: 80px !important;
    }
}

/* Target iPhone 14 Pro Max (430px x 932px) */
@media only screen and (width: 430px) and (height: 932px) {
    .category-select {
        left: 100px !important;
    }
}

/* Target Samsung Galaxy S8+ (360px x 740px) */
@media only screen and (width: 360px) and (height: 740px) {
    .category-select {
        left: 65px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .selections {
        width: 75%;
    }

    .category li {
        font-size: 20px;
    }
}


