.selections {
    position: relative;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: lightgrey;
    width: 50%;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
}

.category {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.category li {
    margin-right: 20px;
    font-size: 30px;
    font-family: 'Oswald';
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover {
    color: #0165E1;
}

.category-select {
    display: none;
}


@media only screen and (max-width: 600px)
{
    .selections {
        width: 80%;
    }

    .category {
        display: none !important;
        font-size: 30px;
    }

    .category-select {
        display: flex;
        position: absolute;
        top: 83px;
        left: 74px;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: 'Oswald';
        border-radius: 25px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); 
        border: none;
        padding: 5px;
    }

    h1 {
        font-size: 60px !important;
    }

}